@charset "UTF-8";

@font-face {
    font-family: 'iconfont';  /* project id 530150 */
    src: url('//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.eot');
    src: url('//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.woff') format('woff'),
    url('//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.svg#iconfont') format('svg');
}