@charset "UTF-8";
//底部
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #000;
    width: 56%;
    padding:28px 2%;
    line-height: 1.6;
    @extend .tra-all;
    .link {
        color: #aaa;
        &:hover {
            color: #fff;
        }
    }
}
//版权
.foot-copy {
    .link {
        float: right;
    }
}
//作品demo
.foot-demo {
    .link {
        padding: 0 5px;
    }
}