@charset "UTF-8";
//菜单显示隐藏按钮
.menu-toggle {
    position: absolute;
    z-index: 3;
    width: 22px;
    padding: 18px;
    overflow: hidden;
    span {
        display: block;
        height:3px;
        background: #fff;
        @extend .tra-all;
    }
    .two,.three {
        margin-top: 5px;
    }
}

//菜单返回上一页按钮
.menu-back {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    &:before {
        display: block;
        font-family: "iconfont";
        content: '\e600';
        color:#fff;
        width: inherit;
        text-align: center;
        line-height: inherit;
        font-size: 32px;
    }
}

//页面当前位置
.menu-site {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    z-index: 2;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
    white-space: nowrap;
    a {
        padding: 0 6px;
        &,&:hover {
            color: #fff;
        }
    }
}

//页在版权信息等
.menu-footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    color: #fff;
    .foot-right {
        text-indent: 10px;
        text-transform: uppercase;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0.5;
    }
}
.menu-foot-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    a {
        float: right;
        margin-right: 5px;
        display: inline;
        width: 32px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &:before {
            color: #fff;
            font-family: "iconfont";
            width: inherit;
            line-height: inherit;
            font-size: 28px;
        }
        &.git:before {
            content: '\e602';
        }
        &.site:before {
            content: '\e601';
        }
    }
}

//正常内容的容器
.container {
    position:relative;
    left: 0;
    width: 100%;
    @extend .tra-all;
}
//菜单模块(正常隐藏)
.menu-nav {
    background-color: #222;
    width: 180px;
    height: 100%;
    padding: 0 30px;
    overflow: auto;
    position: fixed;
    left:-240px;
    top: 0;
    @extend .tra-all;
}

//当菜单打开时
.App { width: 100%; overflow: hidden;} //这句就 控制menu切换的时候也不出现滚动条
.menu-open {
    width: 100%;
    overflow: hidden;
    .menu-toggle{
        .two { background:none;}
        .one {
            transform: rotate(45deg) translateY(11px);
        }
        .three {
            transform: rotate(-45deg) translateY(-11px);
        }
    }
    .container {
        left: 240px;
    }
    .menu-nav {
        left: 0;
    }
    .footer {
        right: -240px;
    }
}


//菜单--search[取消这个功能]
.menu-find {
    position: relative;
    margin-top: 20px;
    input {
        height: 18px;
        line-height: 18px;
        padding: 8px 35% 8px 3%;
        border: 0;
        width: 62%;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 34px;
        padding: 0 15px;
        background: $blue;
        color: #fff;
    }
    .err {
        color: #ff0;
        line-height: 2em;
        height: 2em;
        @extend .ellipsis;
    }
}

//菜单-头像
.menu-avatar {
    width: 120px;
    height: 120px;
    margin: 30px auto 0;
    border-radius: 60px;
    overflow: hidden;
    img {
        width: 100%;
    }
}


//菜单--列表
.menu-list {
    margin-top: 40px;
    border-top: 1px solid #444;
    li {
        border-bottom: 1px solid #444;
        line-height: 2.5em;
        @extend .fz16;
    }
    a {
        color: #999;
        display: block;
        text-indent: 1em;
        &:hover {
            font-weight: bold;
            color: #fff;
            background: #000;
        }
    }
}

//菜单--二维码
.menu-code {
    margin-top: 20px;
    color: #999;
    line-height:1.5;
    img {
        margin-top: 10px;
        width: 100%;
    }
}